.details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  font-size: 130%;
}

.details img {
  max-width: 400px;
  width: 100%;
  margin: 20px;
  height: 450px;
  object-fit: cover;
  display: block;
}

.details_box {
  max-width: 500px;
  width: 100%;
  margin: 5px 20px;
}

.details_box .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details_box h2 {
  text-transform: uppercase;
  color: teal;
  letter-spacing: 2px;
  font-weight: 2rem;
  margin-bottom: 10px;
}

.details_box p {
  line-height: 1.5;
  margin: 10px 0;
  opacity: 0.8;
}

.details_box .cart {
  background: #333;
  color: white;
  margin-top: 10px;
  padding: 10px 25px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 500px) {
  .details {
    font-size: 100%;
    padding: 0;
  }

  .related_products {
    margin-top: 15px;
  }
}
